<div class="row-fluid">
   <div class="span3">
   </div>
   <div class="span9">
     <div class="record-pane">

     <% if @params['report'] == 'received' %>
       <%= render_aspace_partial :partial => "accessions_summary_reports/received_report" %>
     <% elsif @params['report'] =='processed' %>
       <%= render_aspace_partial :partial => "accessions_summary_reports/processed_report" %>
     <% elsif @params['report'] =='timeliness' %>
       <%= render_aspace_partial :partial => "accessions_summary_reports/timeliness_report" %>
     <% end %>

    </div>

<div class="form-actions">            
  <%= link_to_function I18n.t("plugins.accessions_summary_reports.return"), "history.back()", :class => "btn btn-cancel" %>
</div>

  </div>
</div>

