<div class="row-fluid">
   <div class="span3">
   </div>
   <div class="span9">
     <div class="row-fluid">
       <div class="span12">
         <div class="record-toolbar">
         </div>
       </div>
      </div>
     <div class="record-pane">
       <h2><%= I18n.t("plugins.accessions_summary_reports.title") %></h2>
    </div>
  </div>
</div>
